.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    padding: 15px 36px;
    cursor: pointer;   
}



.btn-blue {
    background-color:#072AC8;
    color: white;
}
.btn-white {
    background-color:white;
    color: #6B708D;
}
.btn-contact{
    display: none;
    color: white;
}
.btn-contact a{
    color: white;
}
.btn:hover {
    background-color: #43D2FF;
}
.menu-link.grey:hover {
    color: #072AC8;
}
