.header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items:  center;
    min-height: 50px;
    background-color: white;
    padding-top: 3%;
     /*solo para mobile*/
    
    
}
.logo-img{
    width: 60.53px;
    height: 18.46px;
    display: block;
}
.nav-list {
    list-style: none;
    display: none; /* flex - for desktop*/
    justify-content: space-between;
    text-decoration: none;
   
}
.menu-item {
    padding-right: 30%;
}
.menu-item:last-child {
    padding-right: 0;
}

@media screen and (min-width: 769px) {
    .header {
        margin: 0px;
        background-color: white;
        height: 122px;
        padding: 0;
        justify-content: space-between;
        width: 100%;
       
    }
    .nav-list{
        display: flex;
    }
    .btn-contact {
        display: block;
        margin-right: 50px;
    }
    .logo-img {
        padding-left: 50px;
    }

    
}
