@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');
html, body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

li, a {
    text-decoration: none;
}

.blue-intense {
    color: #072AC8;
}
.grey {
    color: #6B708D;
}
.blue-sky{
    color: #43D2FF;
}

.header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    
}
.logo-img{
    width: 60.53px;
    height: 18.46px;
    display: block;
}
.nav-list {
    list-style: none;
    display: flex; /* none - for mobile*/
    justify-content: space-around;
    text-decoration: none;
   
}
.menu-item {
    padding-right: 60px;
}
.menu-item:last-child {
    padding-right: 0;
}
.contactUs-btn a{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    padding: 15px 36px;
    background-color:#072AC8;
    color: white;
    cursor: pointer;
    /*display: none;  for mobile */
}
.contactUs-btn a:hover {
    background-color: #43D2FF;
}
.menu-link.grey:hover {
    color: #072AC8;
}
