#our-services-section {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-services-section h2 {
  margin-top: 15%;
  font-weight: 700;
  font-size: 40px;
  color: #292e47;
  width: 100%;
  text-align: center;
}

.service-external-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service-internal-div {
  width: 340px;
  height: 380px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 0.25);
  margin-top: 40px;
  text-align: center;
}


.service-internal-div img {
  margin-top: 40px;

  margin-bottom: 30px;
}

.service-internal-div h4 {
  font-size: 24px;
  font-weight: 500;
  color: #292e47;

  margin-block-end: 20px;
}

.service-internal-div p {
  font-size: 20px;
  color: #6b708d;
  margin-left: 30px;
  margin-right: 30px;
  margin-block-end: 36px;
}

.service-internal-div a {
  font-size: 17px;
  color:#072AC8 ;

}
.service-internal-div a:hover {
  color:#43D2FF ;
}

@media (min-width: 769px) {
  #our-services-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #our-services-section h2 {
    text-align: start;
    margin-top: 20%;
  }

  .service-external-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .service-internal-div {
    text-align: start;
  }

  .service-internal-div img {
    margin-left: 30px;
  }

  .service-internal-div h4 {
    margin-left: 30px;
  }

  .service-internal-div p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .service-internal-div a {
    margin-left: 30px;
  }
}
@media (min-width: 769px) {
  #our-services-section h2 {
    margin-top: 15%;
  }
}

