/*MAIN PROJECT SECTION  */
#p-proj-section {
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top: 130px;
}

#p-proj-section img {
  height: 400px;
}

.p-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.p-body {
  display: flex;
  flex-direction: column;
}
/*Falta hacer que la imagen no se distorsione*/

/*OTHER PROJECT SECTION */

#p-other-proj-section { 
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

#p-other-proj-section h2 {
  width: 90%;
  text-align: center;
}

.external-div {
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap;
}

.internalDiv {
 background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 90%;*/
  margin-top: 40px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 0.25);
  /*hay que revisar el blur*/
}

.p-card-img {

width: 340px;
height: 240px;
}

.internalDiv h4 {
  font-size: 24px;
  /*line-height: 28px;*/
  color: #292E47;
  margin-top:30px;
  margin-bottom: 0px;
  font-weight: 500;
  
}

.internalDiv p {
  font-size: 17px;
  
  color: #6b708d;
  margin-top: 10px;
}

.internalDiv a {
  font-size: 17px;

text-decoration: none;
margin-top: 54px;
margin-bottom: 30px;;
/*hablar con Anastasia del color azul del ancor*/
}
/*faltan algunos los colores de fondo y letra*/

/*RECENT PROJECT SECTION - HTML1!!!!!*/


@media (min-width: 748px) {
  /*main section*/
  #p-proj-section {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: red;
    
  }
  .p-title div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .p-title h1 {
    text-align: start;
  }
  /*other projecs section*/
  #p-other-proj-section { 
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .internalDiv {
    background-color: aliceblue;
    align-items: flex-start;

   /*width: 30%;*/
  }
.internalDiv h4 {
  margin-left: 30px;
}
.internalDiv p {
  margin-left: 30px;
}
.internalDiv a {
  margin-left: 30px;
}

.external-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: nowrap;
  
  
}

}
