.testimonial-sec {
    height: 80vh;
}
.memoji{
    display: none;
}
.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial-box {
    background-color: #292E47;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 50px 73px;
}
.testimonial-box h2{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 47px;
    color:#F4F6FC;
}
.testimonial-comment{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFC600;
    margin-bottom: 50px;
}
.testimonial-profile {
    display: flex;
    justify-content: center;
    align-items:center;
}
.testimonial-img {
    margin-right: 10px;
}

.tcontact-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: #A2D6F9;
    margin-bottom: -5px;
}
.tcontact-sourse {
    font-weight: 400;
    font-size: 9px;
    line-height: 15px;
    color: #F4F6FC; 
}
@media screen and (min-width: 481px){
    .testimonial-box h2 {
        font-size: 40px; 
    }
    .testimonial-comment{
        font-size: 24px;
        padding: 0 10%;
    }
    .tcontact-name {
        font-size: 19px;
    }
    .tcontact-sourse{
        font-size: 14px;
    }
    .testimonial-box {
        background-image: url(../project-assets/testimonial-section/orbit.png) center center no-repeat;
        background-size: cover;
        position: relative;
    }
}
